* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-media-bar {
    background-color: #6a1b9a;
    color: white;
    padding: 10px 0;
}

.social-media-bar .social-icon {
    color: white;
    margin: 0 10px;
    font-size: .9em;
}
.search-input {
    width: 410px;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%; /* Asegura que el navbar ocupe el 100% del contenedor */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Asegura que el contenedor del navbar ocupe el 100% */
}

.navbar-toggler {
    background: none;
    border: none;
    color: #6a1b9a;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto; /* Alinea el botón de tres rayas a la derecha */
}

.navbar-collapse {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin-left: auto; /* Alinea los elementos del menú a la derecha */
}

.nav-item {
    margin: 0 10px;
}


.nav-link {
    color: #6a1b9a;
}

.nav-link:hover {
    color: #8e24aa;
}

.dropdown-item {
    color: #6a1b9a;
}

.dropdown-item:hover {
    background-color: hsl(0, 0%, 95%);
}

/* Estilos para la barra de búsqueda */
.search-bar-container {
    margin: 20px 0;
}

.search-form {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    max-width: 300px;
    width: 100%;
}

.search-input {
    border: none;
    padding: 10px;
    flex-grow: 1;
    outline: none;
    color: #6a1b9a;
    font-size: 16px;
}

.search-input::placeholder {
    color: #ba68c8;
}

.search-button {
    background-color: hsl(0, 0%, 95%);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.search-button i {
    color: #6a1b9a;
    font-size: 16px;
}

.container {
    max-width: 1500px;
    width: 100%; 
    padding: 0 15px; 
}


.conten-ink {
    font-size: 0.8rem;
    font-weight: 500;
}

.link-secu {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    
}

.link-secu:hover {
    color: #fff;
}


.logo {
    max-height: 80px;
    margin-top: 10px; 
    margin-bottom: 10px; 
    
}

.header {
    background: url('/imagenes/header-background.png') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 0;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}

.main-section {
    padding: 50px 0;
}

.card {
    margin: 10px 0;
}

.card-title {
    font-size: 1.25em;
    color: #6a1b9a;
}

/* Navbar Dropdowns */
.nav-item .dropdown-menu {
    display: none;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.contenedor-ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a {
    color: inherit;
    text-decoration: none;
}


/* Estilo para los enlaces dentro de la barra de navegación */
.nav-link {
    color: #6a1b9a;
    transition: color 0.3s ease; /* Transición suave para el color */
}


.nav-al100{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



/* Estilo para los elementos del dropdown */
.dropdown-menu {
    display: none;
    position: absolute;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
}

.dropdown-item {
    color: black;
    padding: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #e1dddd;
}

/* Animación del dropdown */
.dropdown-menu.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


/* Estilos generales para las tarjetas */
.card-link {
    text-decoration: none; /* Sin subrayado */
    color: inherit; /* Mantener color del texto */
    
}

.card-link:hover .card {
    background-color: #D3B5E5; /* Fondo violeta claro */
    color: #ffffff; /* Texto blanco */
}

.card-link:hover .card .card-title,
.card-link:hover .card .card-text {
    color: #ffffff; /* Texto blanco */
}

/* Asegúrate de que las imágenes tengan un tamaño adecuado */
.card img.logo {
    max-width: 100%;
    height: auto;
}

.card {
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.con-redes {
    display: flex;
    justify-content: space-between;
  }


/* Estilo para centrar el logo y el buscador en resoluciones pequeñas */
@media (max-width: 630px) {
    .container.my-3 .row {
        justify-content: center !important; /* Centrar los elementos en la fila */
        text-align: center; /* Asegurar que los elementos estén centrados */
    }

   .conten-ink {
     display: none;
   }

   .con-redes {
     display: flex;
     justify-content: center;
   }

}