* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-media-bar {
    background-color: #6a1b9a;
    color: white;
    padding: 10px 0;
}

.social-media-bar .social-icon {
    color: white;
    margin: 0 10px;
    font-size: .9em;
}

.containerRedes {
    max-width: 1500px;
    width: 100%; 
    padding: 0 15px; 
}

.conten-ink {
    font-size: 0.8rem;
    font-weight: 500;
}

.link-secu {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    
}

.link-secu:hover {
    color: #fff;
}

.con-redes {
    display: flex;
    justify-content: space-between;
}

.form-container {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin: 20px;
    width: 100%;
    max-width: 450px;
}

.con-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-Container {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.logo {
    max-height: 80px;
    margin-top: 10px; 
    margin-bottom: 10px; 

}

.imagenModal {
    max-height: 2em;
    margin-top: 1em; 
    margin-bottom: 1em; 
}

.modal-header h5 {
    margin-top: 1em; 
    margin-bottom: 1em;
    margin-left: 0.5em;
}

.backdrop {
    opacity: 30%
}

@media (max-width: 630px) {
    .container.my-3 .row {
        justify-content: center !important; /* Centrar los elementos en la fila */
        text-align: center; /* Asegurar que los elementos estén centrados */
    }

   .conten-ink {
        display: none;
   }

   .con-redes {
        display: flex;
        justify-content: center;
   }
}