.form-container {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin: 20px;
    width: 100%;
    max-width: 450px;
}

.con-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-Container {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.logo {
    max-height: 80px;
    margin-top: 10px; 
    margin-bottom: 10px; 

}

.imagenModal {
    max-height: 2em;
    margin-top: 1em; 
    margin-bottom: 1em; 
}

.modal-header h5 {
    margin-top: 1em; 
    margin-bottom: 1em;
    margin-left: 0.5em;
}

.backdrop {
    opacity: 30%
}