* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-media-bar {
    background-color: #6a1b9a;
    color: white;
    padding: 10px 0;
}

.social-media-bar .social-icon {
    color: white;
    margin: 0 10px;
    font-size: .9em;
}

.containerRedes {
    max-width: 1500px;
    width: 100%; 
    padding: 0 15px; 
}

.conten-ink {
    font-size: 0.8rem;
    font-weight: 500;
}

.link-secu {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    
}

.link-secu:hover {
    color: #fff;
}

.con-redes {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    font-weight: bold;
}

button.btn-link {
    margin: 0 10px;
    color: #ba68c8;
}

button.btn-primary {
    margin-top: 20px;
}

.Continuar {
    background-color: #6a1b9a;
    color: #fff;
}

#user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#user-info img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.card-title {
    font-size: 1.25em;
    color: #6a1b9a;
}

.card img.logo {
    max-width: 100%;
    height: auto;
}

.card-link {
    text-decoration: none; /* Sin subrayado */
    color: inherit; /* Mantener color del texto */
    
}

.card-link:hover .card {
    background-color: #D3B5E5; /* Fondo violeta claro */
    color: #ffffff; /* Texto blanco */
}

.card-link:hover .card .card-title,
.card-link:hover .card .card-text {
    color: #ffffff; /* Texto blanco */
}

.logo {
    max-height: 80px;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.card {
    margin: 10px 0;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-turno{
    width: 12em;
    height: max-content;
}

.seleccionado {
    border-color: #6a1b9a;
    border-width: 2px;
}

.active-button {
    background-color: #6a1b9a;
    color: white !important;
}

.header-title {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #6a1b9a;
}

.header-title img {
    margin-right: 10px;
    height: 34px;
}

.header-title h2 {
    margin: 0;
    font-size: 24px;
    color: #ba68c8;
}

.progress-container { 
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
    margin-left: 10%;
}

#progressbar { 
    list-style-type: none; 
    display: flex; 
    justify-content: space-between; 
    color: lightgrey; 
} 
  
#progressbar li { 
    flex: 1; 
    text-align: center; 
    font-size: 1em;
    position: relative; 
} 
  
#progressbar li.active { 
    color: #ba68c8;
} 
  
.progress { 
    height: 1em; 
    background-color: lightgray; 
    border-radius: 5px; 
    overflow: hidden; 
} 
  
.progress-bar { 
    background-color: #6a1b9a; 
    width: 0; 
    height: 100%; 
    transition: width 0.4s ease-in-out; 
}

.backdrop {
    opacity: 30%
}

.imagenModal {
    max-height: 2em;
    margin-top: 1em; 
    margin-bottom: 1em; 
}

.modal-header h5 {
    margin-top: 1em; 
    margin-bottom: 1em;
    margin-left: 0.5em;
}

#contenedorTipoTurno {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedorPacientes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono {
    max-height: 80px;
    margin-top: 10px; 
    margin-bottom: 10px;  
}

@media (max-width: 768px) {
    .header-title h2 {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    #contenedorTipoTurno {
        display: grid;
        grid-row: 11em 11em 11em;
    }

    #contenedorPacientes {
        display: grid;
        grid-row: 11em 11em 11em;
    }

    .card {
        width: 16em;
        height: 10em;
    }

    .card-body{
        display: inline;
    }

    .icono {
        max-height: 60px;
        margin-top: 6px; 
        margin-bottom: 6px; 
    }

    #progressbar { 
        list-style-type: none; 
        display: flex; 
        justify-content: center; 
        color: lightgrey; 
    }

    #progressbar li {
        display: none;
    }

    #progressbar li.active { 
        display: block;
        position: relative; 
        flex: 1; 
        text-align: center; 
        font-size: 1em;
    }
}

@media (max-width: 630px) {
    .container.my-3 .row {
        justify-content: center !important; /* Centrar los elementos en la fila */
        text-align: center; /* Asegurar que los elementos estén centrados */
    }

   .conten-ink {
        display: none;
   }

   .con-redes {
        display: flex;
        justify-content: center;
   }
}